@media only screen and (max-width:480px) {
    header{
        width: 100%;
    }
    .top_header{
        width: 100%;
        justify-content: space-around;
    }
    .nav_item{
        width: 250px;
        justify-content: space-evenly;
        align-items: center;
    }
    .nav_item a{
        text-decoration: none;
        font-size: 14px;
        font-weight: 400;
        color: #FFFFFF;
    }
    .nav_item a img{
        width: 35px;
    }
    .about{
        width: 100%;
        height: auto;
    }
    .players{
        grid-template-columns: repeat(1, 1fr);
    }
    .blogs{
        grid-template-columns: repeat(1, 1fr);
    }
    .blog{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .blog_info h2,p{
        text-align: center;
    }
    .course_section{
        width: 100%;
        height: auto;
    }
    .courses{
        flex-direction: column;
        align-items: center;
    }
    .course{
        margin-bottom: 30px;
    }
}